---
layout: default
---

<div class="home">

  {{ content }}


<!-- Photo Grid -->
<div class="row"> 

  <div class="column">
    <div class="container">
      <a href="/mediaart/2017/05/01/Frail.html" >
      <img src="/assets/frail_2.jpg" alt="Avatar" class="image">
      <div class="overlay">
        <div class="text">Frail but Indomitable</div>
      </div>
      </a>
    </div>


    <div class="container">
      <a href="/theater/2017/12/10/Translations.html" >
      <img src="/assets/translations_1.gif" alt="Avatar" class="image">
      <div class="overlay">
        <div class="text">Translations</div>
      </div>
      </a>
    </div>


    <div class="container">
      <a href="/media/art/2018/04/01/SkeletonMonster.html" >
      <img src="/assets/spider.gif" alt="Avatar" class="image">
      <div class="overlay">
        <div class="text">Human Skeleton -> Monster</div>
      </div>
      </a>
    </div>



  </div>


  <div class="column">
    <div class="container">
      <a href="/theater/2017/11/05/Sock.html" >
      <img src="/assets/sock_0.jpg" alt="Avatar" class="image">
      <div class="overlay">
        <div class="text"> How to Put on a Sock </div>
      </div>
      </a>
    </div>

    <div class="container">
      <a href="/media/art/2018/05/10/PopUpAR.html" >
      <img src="/assets/popup_short.gif" alt="Avatar" class="image">
      <div class="overlay">
        <div class="text">Süleymanname: A Pop-Up Illuminated Manuscript</div>
      </div>
      </a>
    </div>

    <div class="container">
      <a href="/conceptual/writing/2016/10/10/Streets.html" >
      <img src="/assets/streets.png" alt="Avatar" class="image">
      <div class="overlay">
        <div class="text"> Streets</div>
      </div>
      </a>
    </div>

  </div>
</div>

</div>
